.back {
    background-color: #282c34;
    height: 1080px;
}
.title {
    margin: 0;
}

.setButton {
    width: 135px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #61dafb;
    font-size: 50px;
    font-weight: 600;
}

.setButtonIncDis {
    width: 135px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #61dafb;
    font-size: 50px;
    font-weight: 600;
    opacity: 0.3;
}

.setButtonReset {
    width: 135px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #61dafb;
    font-size: 50px;
    font-weight: 600;
}

.setButtonResetDis {
    width: 135px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #61dafb;
    font-size: 50px;
    font-weight: 600;
    opacity: 0.3;
}


.counterNumber {
    height: 230px;
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: space-evenly
}

.counterNumberMax {
    height: 230px;
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: space-evenly;
    color: red;
}

.wrapper {
    margin-top: 150px;
    width: 605px;
    height: 390px;
    background: #ffffff;
    opacity: 1;
    border: 5px solid #04eaff;
    border-radius: 10px;
    background-color: #282c34;
}

/*.counterWrapper {*/
/*    margin: 140px 0 0 0;*/
/*}*/

.scoreboard {
    display: inline-block;
    margin: 18px 0 0 19px;
    width: 560px;
    height: 230px;
    background-color: #282c34;
    border: 3px solid #04eaff;
    border-radius: 10px;
}

.wrapperButtons {
    width: 560px;
    height: 90px;
    background-color: #282c34;
    border: 3px solid #04eaff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 18px 0 0 19px;
}


.valueMax {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.valueMax p {
    color: #04eaff;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.valueStart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.valueStart p {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: #04eaff;
    font-weight: 600;
}

.inputMax {
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-weight: 900;
    border: none;
    transition: 0.4s;
    outline: 0 !important;
}

.inputMax:hover {
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-weight: 900;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.54);
    box-shadow: 0px 0px 20px 0px rgb(25, 151, 255);
    transition: 0.4s;
}

.inputStart {
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-weight: 900;
    border: none;
    transition: 0.4s;
    outline: 0 !important;
}

.inputStart:hover {
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-weight: 900;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.54);
    box-shadow: 0px 0px 20px 0px rgb(25, 151, 255);
    transition: 0.4s;
}

.error {
    height: 230px;
    color: red;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.errorInputStart {
    background-color: rgba(245, 132, 132, 0.75);
    border: 2px solid red;
    height: 35px;
    text-align: center;
    font-weight: 900;
}


/*.Counter_setButton__OV4Je {*/
/*    width: 135px;*/
/*    height: 60px;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    background-color: #61dafb;*/
/*    font-size: 50px;*/
/*    font-weight: 600;*/